body {
	background-image: url(../img/Landing-Estudia-Ing-R.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}

.logo {
	background-position: center;
	background-repeat: no-repeat;
	width: 200px;
	height: 75px;
}

.error {
	border-color: red !important;
}
.error_span {
	color: red;
}

.btn-success {
	background-color: #f02f80 !important;
    border-color: #f02f80 !important;
}